* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid transparent;
  padding: 4px 0px;
}

.nav-logo {
  height: 50px;
  width: 142px;
}

.nav-logo a {
  text-decoration: none;
  display: inline-block;
}

.logo-border {
  border: 1.5px solid transparent;
  padding-right: 6px;
}

.logo-border:hover {
  border: 1.5px solid white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50px;
  width: 170px;
}

.logo-ist-span {
  font-weight: 800;
  font-size: 40px;
  color: yellow;
}

.logo-second-span {
  font-weight: 700;
  font-size: 28px;
  color: white;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

.add-icon-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 17px;
}

.add-second {
  font-size: 1rem;
  margin-left: 2px;
}

.add-icon {
  display: flex;
  align-items: center;
}

.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 520px;
  height: 40px;
  border-radius: 4px;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.nav-search:hover {
  border: 2px solid orange;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}

.nav-cart-link {
  text-decoration: none;
  display: block;
  color: inherit;
}

.sign-in-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

span {
  font-size: 0.7rem;
}

.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}

.nav-cart i {
  font-size: 30px;
  color: white;
}

.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.pannel {
  display: flex;
  height: 40px;
  background-color: #222f3d;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.pannel-ops p {
  display: inline;
  margin-left: 12px;
}

.pannel-ops {
  width: 70%;
  font-size: 0.85rem;
}

.pannel-deals {
  font-size: 0.9rem;
  font-weight: 700;
}

.hero-section {
  background-image: url("herosec.png");
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 25px;
}

.hero-msg a {
  color: #007185;
  text-decoration: none;
}

.box-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 13px;
}

.shop-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box-img {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content p {
  color: #007185;
}

footer {
  margin-top: 15px;
}

.foot-pannel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}

.foot-pannel2 {
  background-color: #222f3d;
  color: white;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}

.foot-pannel2 a {
  text-decoration: none;
}

ul {
  margin-top: 10px;
}

ul a {
  display: block;
  font-size: 0.70rem;
  margin-top: 20px;
  color: #dddddd;
}

.foot-pannel3 {
  background-color: #222f3d;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .logo {
  height: 50px;
  width: 150px;
} */

.foot-pannel4 {
  background-color: #0f1111;
  color: white;
  height: 80px;
  font-size: 0.7rem;
  text-align: center;
}

.pages {
  padding: 10px 0px;
}

.copyright {
  padding-top: 5px;
}

button.search-icon {
  border: none;
  padding: 0;
  cursor: pointer;
}

.link-style {
  color: white;
  text-decoration: none;
}